// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #278a91;
$brand-secundary:       #2d9ba2;
$brand-tertiary:        #dceceb;

$text-primary:          #3c666a;