.footer-info {
  padding: 60px 0 50px;
  background-color: $brand-primary;
  text-align: center;

  img {
    width: 270px;
  }

  p.footer-contact-info {
    margin: 50px 0 0;
    color: #fff;

    a {
      color: #fff;

      &:hover,
      &:focus,
      &:active {
        color: #fff;
      }
    }

    span {
      display: inline-block;
      margin: 0 30px;
      color: #fff;
    }

    .glyphicon {
      margin: 0 10px;
    }
  }
}

.footer-copyright {
  background-color: $brand-quartarnary;
  text-align: center;
  height: 50px;

  p.copyright {
    font-family: "Lato", sans-serif;
    color: #fff;
    margin: 0;
    line-height: 50px;

    a {
      color: #fff;

      &:hover,
      &:focus,
      &:active {
        color: #fff;
      }
    }
  }
}